{% extends 'layouts/base.html' %}
{% load static %}

{% block head_title %}Accounts{% endblock head_title %}

{% block body %}
    {% include 'includes/header.html' %}
    <div class="container-md">
        <h1>Your accounts</h1>
        <hr>
        <div id="accountsDiv" class="d-flex gap-5">
            {% for a in accounts %}
                <button class="btn btn-light p-3">{{ a.name }}<br><a class="btn btnBase" href="{% url 'transactions' %}?account={{ a.id }}">View Transactions</a></button>
            {% endfor %}
        </div>
        
    </div>
{% endblock body %}

{% block extra_javascript %}
    <script src="{% static 'js/accounts.js' %}"></script>
{% endblock extra_javascript %}