{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head_title %}Homepage{% endblock head_title %}

{% block body %}
    {% include 'includes/header.html' %}
    <div class="container-md">
        <h1>Your summary</h1>
        <hr>

        <div class="d-flex flex-column gap-5">
            <div class="d-flex gap-5 justify-content-between align-items-center">
                <div id="totalsSummary">
                    <h2>Total expenses:</h2>
                    <span id="total_expenses"></span>
                    <h2>Total income:</h2>
                    <span id="total_income"></span>
                </div>

                <div id="chartsSummary">
                    <canvas id="expensesChart"></canvas>
                </div>
                <div>
                    <canvas id="incomeChart"></canvas>
                </div>
            </div>

        <div class="d-flex justify-content-between gap-5">
            <div class="flex-fill">
                <div>
                    <h3>Latest transactions</h3>
                    <hr>
                </div>
                

                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="transactions_table">
                        <tr>
                            <td colspan="11">Loading...</td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <a href="{% url 'transactions' %}" id="btnViewAll" class="btn btnBase">View all transactions</a>
                </div>
            </div>

            <div class="flex-fill">
                <h3>Your Accounts:</h3>
                <hr>

            </div>
        </div>
    </div> 
        
        
    </div>
{% endblock body %}

{% block extra_javascript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock extra_javascript %}