{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block head_title %}Homepage{% endblock head_title %}

{% block body %}
    {% include 'includes/header.html' %}
    <div class="container-md">
        <h1>Your summary</h1>
        <hr>

        <div class="d-flex gap-5 justify-content-center align-items-center">
            <div>
                <h2>Total expenses <span id="total_expenses"></span></h2>
                <h2>Total income <span id="total_income"></span></h2>
            </div>
            <div>
                <canvas id="expensesChart"></canvas>
            </div>
            <div>
                <canvas id="incomeChart"></canvas>
            </div>
        </div>
        
        <br>

        <div class="d-flex justify-content-between">
            <h3>Last 5 transactions:</h3>
            <div>
                <a href="{% url 'transactions' %}" id="btnViewAll" class="btn btn-primary">View All</a>
                <button id="btnAddTransaction" class="btn btn-success">Add New</button>
            </div>
        </div>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Frequency</th>
                    <th>Label</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="transactions_table">
                <tr>
                    <td colspan="11">Loading...</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}

{% block extra_javascript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock extra_javascript %}