{% load static %}
<div class="container"> 
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> 
        <p class="col-md-4 mb-0 text-body-secondary">Personal Expense Tracking Web App</p> 
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="Logo" width="60" height="60"></a>
        <ul class="nav col-md-4 justify-content-end"> 
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a>
            </li> 
            <li class="nav-item">
                <a href="{% url 'transactions' %}" class="nav-link px-2 text-body-secondary">Transactions</a>
            </li> 
        </ul>
    </footer>
</div>