{% load static %}
<header class="d-flex justify-content-center align-items-center gap-3 m-2">
	<img src="{% static 'images/logo.png' %}" alt="Logo" width="60" height="60">
  	<ul class="nav nav-pills">
    	<li class="nav-item"><a href="{% url 'home' %}" class="nav-link" aria-current="page">Home</a></li>
    	<li class="nav-item"><a href="{% url 'transactions' %}" class="nav-link">Transactions</a></li>
        <li class="nav-item"><a href="{% url 'accounts' %}" class="nav-link">Accounts</a></li>
  	</ul>
</header>